{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="py-5 bg-secondary">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-black">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-black-50 mb-0">Welcome to our Ecommerce Project</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
Welcome to our web application! We are Hatim Touijar, Mounia Dahbi, Souhaila Morabit and Mohamed Chaouki Touzani, a passionate team dedicated to bringing you the latest and greatest electronic devices. We have come together with a shared vision: to provide a seamless shopping experience for tech enthusiasts everywhere. Our commitment to quality, innovation, and customer satisfaction drives everything we do. Whether you're searching for the latest smartphones, fastest most powerful laptops, or the right gaming consoles for the right gaming experience, you can trust that each product existing in our platform has been carefully selected by our team. Join us on this journey as we strive to redefine the way you shop for electronics.
<br/><br/>
While this may be our first experience in developing a web application, our commitment to excellence and our thirst for learning and doing the best we can to impress you is keeping us forward every step of the way. Through collaboration, experimentation, and eternal pursuit of improvement, we've crafted a platform that we're proud to present to you. Join us as we continue to learn, grow, and innovate in the ever-evolving world of digital technology.
<br/><br/>

<strong>Anything You Want... WE HAVE, And if we Don't... Just say the MAGIC WORD and we'll get it for YOU.
  Because we are DSEF ELECTRONICS, And we Are here for your Electronic needs.</strong>
</p>
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}